Import all the libraries used in the notebook

In [2]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.0.3-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (2.2 MB)
     |████████████████████████████████| 2.2 MB 4.4 MB/s eta 0:00:01
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.9/site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
from sklearn.metrics import mean_absolute_error
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

print("Setup Complete")

Setup Complete

Set file paths for Training and Test Data

In [3]:
train_data = "/Users/adityakharbanda/Desktop/Kaggle/Competitions/Housing Prices Competition/home-data-for-ml-course/train.csv"
test_data = "/Users/adityakharbanda/Desktop/Kaggle/Competitions/Housing Prices Competition/home-data-for-ml-course/test.csv"

Import Training and Test Data

In [4]:
train = pd.read_csv(train_data)
test = pd.read_csv(test_data)

Data Exploration

In [5]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [35]:
train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [44]:
train.YrSold

0       2008
1       2007
2       2008
3       2006
4       2008
        ...
1455    2007
1456    2010
1457    2010
1458    2010
1459    2008
Name: YrSold, Length: 1460, dtype: int64

In [6]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [45]:
test.YrSold

0       2010
1       2010
2       2010
3       2010
4       2010
        ...
1454    2006
1455    2006
1456    2006
1457    2006
1458    2006
Name: YrSold, Length: 1459, dtype: int64

Set up features to use

In [72]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd', 'KitchenAbvGr', 'YrSold', 'WoodDeckSF', 'OpenPorchSF',
           'EnclosedPorch',
           '3SsnPorch',
           'ScreenPorch',
           'PoolArea']

In [73]:
X = train.loc[:, features]
y = train.SalePrice

In [74]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd,KitchenAbvGr,YrSold,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea
0,8450,2003,856,854,2,3,8,1,2008,0,61,0,0,0,0
1,9600,1976,1262,0,2,3,6,1,2007,298,0,0,0,0,0
2,11250,2001,920,866,2,3,6,1,2008,0,42,0,0,0,0
3,9550,1915,961,756,1,3,7,1,2006,0,35,272,0,0,0
4,14260,2000,1145,1053,2,4,9,1,2008,192,84,0,0,0,0

In [75]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [76]:
from sklearn.ensemble import RandomForestRegressor

In [77]:
train_X, cv_X, train_y, cv_y = train_test_split(X, y, random_state = 1)

In [78]:
rf_model = RandomForestRegressor(random_state = 1)
rf_model.fit(train_X, train_y)
rf_cv_predictions = rf_model.predict(cv_X)
rf_mae = mean_absolute_error(rf_cv_predictions, cv_y)

print(f"Mean Absolute Error for CV: {rf_mae}")

Mean Absolute Error for CV: 21037.787616438356

In [79]:
xgb_model = XGBRegressor(random_state = 1)
xgb_model.fit(train_X, train_y)
xgb_cv_predictions = xgb_model.predict(cv_X)
xgb_mae = mean_absolute_error(xgb_cv_predictions, cv_y)

print(f"XGB Mean Absolute Error for CV: {xgb_mae}")

XGB Mean Absolute Error for CV: 22359.173983304794

For now, choosing Random Forest over XGBoost, train on full data

In [80]:
rf_model_on_full_data = RandomForestRegressor(random_state = 1)
rf_model_on_full_data.fit(X, y)

RandomForestRegressor(random_state=1)

Create specific version of test data with the trained set of Features

In [82]:
test_X = test.loc[:, features]

Predict the prices based on test data

In [83]:
rf_full_data_predictions = rf_model_on_full_data.predict(test_X)

In [84]:
output = pd.DataFrame({"Id": test.Id, "SalePrice": rf_full_data_predictions})
output.to_csv("submission2.csv", index = False)